{{range $upstream := .StreamUpstreams}}
upstream {{$upstream.Name}} {
	{{range $server := $upstream.StreamUpstreamServers}}
	server {{$server.Address}}:{{$server.Port}};{{end}}
}{{end}}

stream {
	{{range $server := .StreamServers}}
	server {

	}{{end}}
}
